@font-face {
	font-family: "Blacksword";
	src: local("Blacksword"),
		url("../font/Blacksword.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");

* {
	color: #ddd;
	font-family: Ubuntu;
	font-weight: 300;
}

body {
	background-color: #222;
}

h1 {
	font-family: Blacksword;
	font-weight: 300;
	/*font-style: italic;*/
	text-align: left;
	font-size: 50px;
	color: white;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.App-header {
	position: absolute;
	top: 0;
	background-color: #111;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 120px;
	left: 0;
	right: 0;
}

#sign-in,
#sign-up {
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	width: 160px;
	height: fit-content;
	text-decoration: none;
	text-transform: uppercase;
	z-index: 2;
	mix-blend-mode: difference;
}

#sign {
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#sign-up-background {
	background-color: #ddd;
	border: 1px solid #ddd;
	color: transparent;
	z-index: 1;
	position: absolute;
	padding: 10px;
	padding-bottom:5px;
	width: 160px;
}

#sign-up + #sign-up-background {
	animation: 900ms slideout;
	animation-fill-mode: forwards;
}
#sign-up:hover + #sign-up-background {
	animation: 600ms slidein;
	animation-fill-mode: forwards;
}

@keyframes slidein {
	from {
		transform: translateX(0);
		background-color: #ddd;
	}
	to {
		transform: translateX(220px);
		background-color: #222;
	}
}

@keyframes slideout {
	from {
		transform: translateX(220px);
		background-color: #222;
	}
	to {
		transform: translateX(0);
		background-color: #ddd;
	}
}

.center {
	margin: auto;
	height: 50vh;
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

p {
	text-align: center;
}

td {
	border-bottom: 1px solid #999;
	padding: 15px 20px;
}

h2 {
	font-weight: bold;
	padding-top: 60px;
	text-transform: uppercase;
}

.opacity-gradient {
	z-index:1;
	position:absolute;
	right:0;
	height: calc(100vh - 70px);
	mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
	mask-size: 100% 100%;
	mask-repeat: no-repeat;
	mask-position: left top, left bottom;
}