form {
	margin: auto;
	height: 60vh;
	max-height: 600px;
	width: 25vw;
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #171717;
	padding: 40px;
	border-radius:10px;
}

#arrow-right {
	border-radius: 20px;
	width:120px;
	padding:10px;
	border: 1px solid #ddd;
	background-color:#333;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
}

#arrow-right > * {
	padding-left:10px;
	font-size:20px
}