@font-face {
	font-family: "Blacksword";
	src: local("Blacksword"),
		url("./assets/fonts/Blacksword.otf") format("opentype");
}

* {
	font-family: Blacksword;
	color: #ddd;
	margin: 0;
	padding: 0;
}

body {
	background-color: #0f1417;
}

h1 {
	text-align: left;
	font-size: 100px;
	margin-left: 40px;
	position: absolute;
	mix-blend-mode: difference;
	color: white;
	z-index: 3
}

.App-header {
	background-color: #ccc;
	height: 160px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0 2px black;
}

#whitebg, #blackbg, #makered {
	position: absolute;
	height: 160px
}

/* A white bottom layer */
#whitebg {
	background: white;
	width: 270px;
	z-index: 2
}

/* A black layer on top of the white bottom layer */
#blackbg {
	background: black;
	height: 160px;
	width: 100vw;
	z-index: 1
}

/* A red DIV over the scene with the blend-mode set to 'screen' */
#makered {
	background-color: #080c14;
	mix-blend-mode: screen;
	width: 100vw;
	height: 160px;
	z-index: 4
}
