@font-face {
	font-family: "Blacksword";
	src: local("Blacksword"),
		url("./assets/fonts/Blacksword.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu:wght@300;700&display=swap');

* {
	color: #ddd;
	font-family: Ubuntu;
	font-weight: 300;
}

body {
	background-color: #222;
}

h1 {
	font-family: Ubuntu;
	font-weight: 300;
	/*font-style: italic;*/
	text-align: left;
	font-size: 50px;
	margin-left: 120px;
	color: white;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.App-header {
	position: absolute;
	top: 0;
	background-color: #111;
	width: 100vw;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	vertical-align: middle;
	align-items: center;
}

#sign-in,
#sign-up {
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	width: 120px;
	height: fit-content;
	text-decoration: none;
	text-transform: uppercase;
	z-index: 2;
	mix-blend-mode: difference;
}

#sign {
	width: 400px;
	margin-right: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#sign-up-background {
	background-color: #ddd;
	border-radius: 10px;
	color: transparent;
	z-index: 1;
	position: absolute;
	padding: 10px;
	width: 120px;
}

#sign-up + #sign-up-background {
	animation: 900ms slideout;
	animation-fill-mode: forwards;
}
#sign-up:hover + #sign-up-background {
	animation: 600ms slidein;
	animation-fill-mode: forwards;
}

@keyframes slidein {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(260px);
	}
}

@keyframes slideout {
	from {
		transform: translateX(260px);
	}
	to {
		transform: translateX(0);
	}
}

.center {
	margin: auto;
	height: 50vh;
	width:40vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

p {
	text-align: center;
}

td {
	border-bottom:1px solid #999;
	padding:15px 20px;
}

h2 {
	font-weight: bold;
	padding-top: 60px;
}