form {
	margin: auto;
	height: 500px;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #171717;
	padding: 40px;
	border-radius:10px;
}

#arrow-right {
	position: absolute;
	top:400;
	right:calc(50vw - 260px);
	border-radius: 20px;
	width:40px;
	height:40px;
	border: 1px solid #ddd;
	background-color:#333;
	display: flex;
	justify-content: center;
	align-items: center;
}